.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    width: 60%;
    margin: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
}
