// .textBlock_main {
//   display: grid;
//   grid-template-columns: 10% 1fr;
// }
// .textBlock_title{
//     grid-column-start: 1;
// }
// .textBlock_editor{
//     grid-column-start: 2;
// }
.textBlock_main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  .textBlock_title {
    grid-column-start: 1;
    justify-self: end;
    padding-right: 5%;
  }
  .textBlock_editor {
    grid-column-start: 2;
    min-height: 25vh;
  }
}
