.general_main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  //   grid-template-rows: repeat(9, 1fr);
  min-width: 100%;

  p {
    grid-column-start: 1;
    justify-self: end;
  }
}
.general_mainTitle{
  display: flex;
    justify-content: center;
    background-color: rgb(187, 75, 0);
}
.general_field {
  grid-column-start: 2;
  grid-row-start: 1;
  font-weight: bold;
}
.general_lung {
  grid-column-start: 2;
  grid-row-start: 2;
}
.general_type {
  grid-column-start: 2;
  grid-row-start: 3;
}
.general_name {
  grid-column-start: 2;
  grid-row-start: 4;
  min-width: 100%;
}
.general_grade {
  grid-column-start: 2;
  grid-row-start: 5;
}
.general_showGradeAfter {
  grid-column-start: 2;
  grid-row-start: 6;
}
.general_header {
  grid-column: 1 /3;
  grid-row-start: 7;
}
.general_msg_success {
  grid-column: 1 /3;
  grid-row-start: 8;
}
.general_msg_fail {
  grid-column: 1 /3;
  grid-row-start: 9;
}
