.newTest_container {
  height: 100%;
  width: 100%;
  padding-left: 3%;

  .newTest_btn {
    justify-content: center;
    display: flex;
    button {
      background-color: rgb(187, 75, 0);
    }
  }
}
