.container {
  width: 100%;
}
.title {
  background-color: orange;
  font-weight: bold;
  color: white;
}
.question-table-row {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 10fr 3fr 2fr 2fr 6fr;
}
.question-table-row > div {
  padding: 1rem;
  outline: solid black 1px;
}
.question-table-row > .id {
}
.question-table-row > .text {
}
.question-table-row > .update {
}
.question-table-row > .type {
}
.question-table-row > .num {
}
.question-table-row > .buttons {
}
