aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #171f36;
  transition: 0.2s;

  .title {
    margin: 1rem 1rem 4rem 0;
    a {
      text-decoration: none;
      height: 100%;
      transition: 0.2s;
      color: inherit;
      display: flex;
      align-items: center;

      .logo {
        padding-left: 0.5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
      span {
        font-size: 0;
        visibility: collapse;
      }
    }
  }
  .nav-main-menu {
    width: 100%;

    .nav-text {
      font-size: 0;
      visibility: collapse;
    }

    .nav-icon {
      font-size: 2rem;
    }
    > .nav-item {
      padding-top: 5rem;
    }
    .nav-container {
      .nav-caterogy {
        padding: 1rem;

        .nav-textAndIcon {
          display: flex;
          align-items: center;
        }
        .nav-sub {
          height: 0;
          visibility: collapse;
        }
      }
    }
  }
}
aside:hover {
  width: 30rem;

  .title {
    a {
      text-decoration: none;
      height: 100%;
      transition: 0.2s;
      color: inherit;
      display: flex;
      align-items: center;

      .logo {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
      span {
        overflow: hidden;
        font-size: 2rem;
        font-weight: bold;
        visibility: visible;
        transition: 0.2s;
      }
    }
    a:hover {
      color: #ccc;
      cursor: pointer;
    }
  }
  .nav-main-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

    > .nav-item {
      padding-top: 5rem;
      .nav-text {
        font-size: 1.5rem;
        visibility: visible;
      }
    }
    .nav-container {
      display: flex;
      width: 100%;

      .nav-caterogy {
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;

        .nav-textAndIcon {
          display: flex;
          align-items: center;
          justify-items: center;
          text-align: center;
          .nav-text {
            padding: 0 1rem;
            font-size: 1.5rem;
            visibility: visible;
          }
          .nav-text:hover,
          .nav-icon:hover {
            cursor: default;
            font-weight: 400;
          }
        }
        .nav-sub {
          height: 0;
          visibility: collapse;
        }
      }
    }

    .nav-caterogy:hover {
      background-color: #ccc;
      color: black;
      .arrow-icon {
        transform: rotate(90deg);
        transition: 0.4s;
      }
      .nav-sub {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        .nav-text {
          font-size: 1.5rem;
          visibility: visible;
        }
        visibility: visible;
      }
      transition: 0.2s;
    }
  }
}
.nav-item {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item:hover {
  font-weight: 500;
}
.nav-icon {
  display: flex;
  padding: 0.5rem;
}

a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: none;
}

section {
  position: relative;
  left: 5rem;
  width: calc(100% - 5rem);
}
