.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: #fff;
  padding: 1rem;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.nav-expander {
  width: calc(var(--nav-width) + 10rem);
}
