@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  font-size: 20px;
  --nav-width: 5.5rem;
  --header-height: 10vh;

  /*===== Colores =====*/
  --first-color: #7aa8ff;
  --bg-color: #12192c;
  --sub-color: #b6cefc;
  --white-color: #fff;
  --page-bg-color: rgb(255, 242, 226);
  --page-header-bg-color: rgb(240, 175, 90);

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.2s;
}
h1 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
a:active,
a:hover,
a:focus,
a:link,
a:visited {
  text-decoration: none;
}

@media (min-width: 500px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  :root {
    font-size: 17px;
  }
}
