.page_header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--page-header-bg-color);
  margin-bottom: 1rem;
  font-size: xx-large;
  font-weight: bold;
  color: black;

  display: flex;
  align-items: center;

  padding: 2rem;

  user-select: none;
}

.bold {
  font-weight: bold;
}

.font {
  &__big {
    font-size: large;
  }

  &__small {
    font-size: small;
  }
}

.btn {
  display: inline-flex;
  margin: 0.5rem;
  padding: 1rem;
  width: 10rem;
  background-color: var(--bg-color);
  color: white;
  border-radius: 0.5rem;
  justify-content: center;

  &:hover {
    background-color: var(--first-color);
    cursor: pointer;
    user-select: none;
  }
}

.submit {
  background-color: green;
  &:hover {
    background-color: rgb(4, 172, 4);
  }
}

.unclickable {
  background-color: gray;
  &:hover {
    background-color: gray;
    cursor: default;
  }
}

.center {
  display: flex;
  align-self: center;
  justify-content: center;
}
