.select_quiz {
  user-select: none;
  height: 80vh;
  align-items: center;
  &__wrapper {
    height: fit-content;
    width: 18vw;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: lightgray;
    border-radius: 2rem;
  }
}
